body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.box {
    inline-size: 150px;
    overflow-wrap: break-word;
}
.box-description{
    inline-size: 250px;
    overflow-wrap: break-word;
}